<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- https://www.bootstrapcdn.com/ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Music Records</title>
</head>

<body>

    <h1>DR Rest/API</h1>
    <div id="app">
        <h2>Get All MusicRecords (GET)</h2>
        <button id="getAllButton" v-on:click="getAllMusicRecords" class="btn btn-primary">Get all Music Records</button>
        <input type="text" v-model="title" placeholder="Enter MusicRecord Title" id="inputSearchByTitle">
        <button id="getByTitleButton" v-on:click="GetMusicRecordByTitle(title)" class="btn btn-primary">Get MusicRecord
            By Title</button>

        <h3> Create MusicRecord</h3>
        <input type="text" v-model="addMusicRecord.title" placeholder="Title" id="addMusicRecord">
        <input v-model="addMusicRecord.artist" placeholder="Artist" type="text">
        <input v-model.number="addMusicRecord.durationInSeconds" placeholder="Duration In Seconds" type="number">
        <input v-model.number="addMusicRecord.publicationYear" placeholder="Publication Year" type="number">
        <button v-on:click="AddMusicRecord()" class="btn btn-success">Add MusicRecord</button>
        <div>{{addMessage}}</div>





        <ul id="MusicRecordslist" v-if="MusicRecords.length">
            <li v-for="MusicRecord in MusicRecords">
                Title: {{MusicRecord.title}}
                Artist: {{MusicRecord.artist}}
                Duration In Seconds: {{MusicRecord.durationInSeconds}}
                Publication Year: {{MusicRecord.publicationYear}}
            </li>
        </ul>
        <div v-else>No MusicRecords</div>









        <script src="index.js"></script>
</body>

</html>